nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.nav-logo {
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
}

.card-image {
  width: 100%;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}
